.backgroundColor{
    -fx-background-color:
            linear-gradient(to top, rgba(238,238,238,1) 10%, rgb(88, 77, 206) 100%, rgb(255, 255, 255) 100%);
}

.menubar{
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.01);
    -fx-border-width: 1px solid;
    -fx-border-color: #584DCE;
    -fx-border-radius: 20%;
}

.hyperlink{
    -fx-border-width: 1px solid;
    -fx-border-radius: 20%;
    -fx-border-color: #584DCE;
    -fx-background-color: rgba(0, 0, 0, 0.02);
    -fx-underline: false;
    /*padding: 10px 20px;*/
    /*margin: 10px;*/
}
.hyperlink:pressed{
    -fx-background-color: transparent;
    -fx-border-width: 1px solid;
    -fx-border-color: #584DCE;
}

.custom-box{
    -fx-background-color: #6f61ea;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-shape: "M 20,0 L 681,0 Q 701,0 701,20 L 701,80 Q 701,100 681,100 L 20,100 Q 0,100 0,80 L 0,20 Q 0,0 20,0 Z";
}

.custom-link{
    -fx-border-style: None;
}

.search-box{
    -fx-background-color: linear-gradient(to bottom, #FBFBFC, rgba(138, 138, 222, 0.85)); /* Linear gradient */
    -fx-background-radius: 40px; /* Rounded corners */
    -fx-background-insets: 0; /* Remove any background insets */
    -fx-background: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}